.wrapper{
    width: 100%;
    height: 100vw;
}
.container{
    position: relative;
    /* overflow: hidden; */
    perspective: 10px;
    transform: preserve-3d;
}
.fg{
    position: absolute;
    top: 0;
    transform: translateZ(-5px);
}
.bg{
    position: absolute;
    top: 0;
    transform: translateZ(-10px) scale(2);
    
}